<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ds.base.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppBase/ABController/IBBaseController.swift</string>
						<string>AppBase/ABView/NoInternetView/NoInternetView.swift</string>
						<string>AppBase/ABView/NoInternetView/NoInternetView.xib</string>
						<string>AppConstants/AppConstant.swift</string>
						<string>AppDelegate/AppDelegate.swift</string>
						<string>AppDelegate/PushNotificationManager.swift</string>
						<string>Extensions/IBSession.swift</string>
						<string>Extensions/IBString.swift</string>
						<string>Extensions/IBView.swift</string>
						<string>Extensions/IBViewController.swift</string>
						<string>ServiceManager/IBError.swift</string>
						<string>ServiceManager/ServiceManager.swift</string>
						<string>MVC/Controller/IBLoginController.swift</string>
						<string>Resources/Assets.xcassets/networkerror.imageset/networkerror.png</string>
						<string>Resources/Assets.xcassets/networkerror.imageset/Contents.json</string>
						<string>Resources/Base.lproj/Main.storyboard</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
		</dict>
		<key>AppDelegate/PushNotificationManager.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate/PushNotificationManager.swift</string>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
		</dict>
		<key>AppConstants/AppConstant.swift</key>
		<dict>
			<key>Path</key>
			<string>AppConstants/AppConstant.swift</string>
			<key>Group</key>
			<array>
				<string>AppConstant</string>
			</array>
		</dict>
		<key>Extensions/IBSession.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/IBSession.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Extensions/IBString.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/IBString.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Extensions/IBView.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/IBView.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Extensions/IBViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/IBViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>ServiceManager/ServiceManager.swift</key>
		<dict>
			<key>Path</key>
			<string>ServiceManager/ServiceManager.swift</string>
			<key>Group</key>
			<array>
				<string>ServiceManager</string>
			</array>
		</dict>
		<key>MVC/Controller/IBLoginController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>MVC</string>
				<string>Controller</string>
			</array>
			<key>Path</key>
			<string>MVC/Controller/IBLoginController.swift</string>
		</dict>
		<key>AppBase/ABController/IBBaseController.swift</key>
		<dict>
			<key>Path</key>
			<string>AppBase/ABController/IBBaseController.swift</string>
			<key>Group</key>
			<array>
				<string>AppBase</string>
				<string>ABController</string>
			</array>
		</dict>
		<key>AppBase/ABView/NoInternetView/NoInternetView.swift</key>
		<dict>
			<key>Path</key>
			<string>AppBase/ABView/NoInternetView/NoInternetView.swift</string>
			<key>Group</key>
			<array>
				<string>AppBase</string>
				<string>ABView</string>
				<string>NoInternetView</string>
			</array>
		</dict>
		<key>AppBase/ABView/NoInternetView/NoInternetView.xib</key>
		<dict>
			<key>Path</key>
			<string>AppBase/ABView/NoInternetView/NoInternetView.xib</string>
			<key>Group</key>
			<array>
				<string>AppBase</string>
				<string>ABView</string>
				<string>NoInternetView</string>
			</array>
		</dict>
		<key>ServiceManager/IBError.swift</key>
		<dict>
			<key>Path</key>
			<string>ServiceManager/IBError.swift</string>
			<key>Group</key>
			<array>
				<string>ServiceManager</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Resources/Base.lproj/Main.storyboard</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Base.lproj</string>
			</array>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Resources/Assets.xcassets/networkerror.imageset/networkerror.png</key>
		<dict>
			<key>Path</key>
			<string>Resources/Assets.xcassets/networkerror.imageset/networkerror.png</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Assets.xcassets</string>
				<string>networkerror.imageset</string>
			</array>
		</dict>
		<key>Resources/Assets.xcassets/networkerror.imageset/Contents.json</key>
		<dict>
			<key>Path</key>
			<string>Resources/Assets.xcassets/networkerror.imageset/Contents.json</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Assets.xcassets</string>
				<string>networkerror.imageset</string>
			</array>
		</dict>
		<key>Resources/Assets.xcassets/appicon.imageset/Contents.json</key>
		<dict>
			<key>Path</key>
			<string>Resources/Assets.xcassets/appicon.imageset/Contents.json</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Assets.xcassets</string>
				<string>networkerror.imageset</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
